<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>GoLang - Bootstrap - Manager Project  | {{ .title }}</title>

        <!-- Bootstrap Core CSS -->
        <link href="/public/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="/public/css/metisMenu.min.css" rel="stylesheet">

        <!-- DataTables CSS -->
        <link href="/public/css/dataTables/dataTables.bootstrap.css" rel="stylesheet">

        <!-- DataTables Responsive CSS -->
        <link href="/public/css/dataTables/dataTables.responsive.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/public/css/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="/public/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Optional JavaScript -->
    <!-- jQuery -->
    <script src="/public/js/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/public/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/public/js/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/public/js/startmin.js"></script>
    <script src="/public/js/jquery.validate.min.js"></script>
    <script src="/public/js/additional-methods.min.js"></script>
  </head>
  <body>
    <div id="wrapper">      
        {{if .tokenobj.Token }}
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="navbar-header">
              <a class="navbar-brand" href="/dashboard/{{.tokenobj.Token}}">Admin Dashboard</a>
          </div>
      
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      
          <ul class="nav navbar-nav navbar-left navbar-top-links">
              <li><a href="#"><i class="fa fa-home fa-fw"></i> Website</a></li>
          </ul>
      
          <ul class="nav navbar-right navbar-top-links">
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                      <i class="fa fa-user fa-fw"></i> {{.tokenobj.AdmObj.FirstName}} {{.tokenobj.AdmObj.LastName}} <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                      <li><a href="/profile/{{.tokenobj.Token}}/{{.tokenobj.AdmObj.Id.Hex}}"><i class="fa fa-user fa-fw"></i> User Profile</a>
                      </li>
                      <li><a  href="/settings/{{.tokenobj.Token}}/{{.tokenobj.AdmObj.Id.Hex}}"><i class="fa fa-gear fa-fw"></i> Settings</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="/logout/{{.tokenobj.Token}}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                      </li>
                  </ul>
              </li>
          </ul>
          <!-- /.navbar-top-links -->
      
          <div class="navbar-default sidebar" role="navigation">
              <div class="sidebar-nav navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                  <ul class="nav in" id="side-menu">
                      <li>
                          <a href="/dashboard/{{.tokenobj.Token}}" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                      </li>
                      <li class="">
                          <a href="#"> Manage Admins<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level collapse" aria-expanded="true">
                              <li>
                                  <a href="/admin/list/{{.tokenobj.Token}}">List Admins</a>
                              </li>
                              <li>
                                  <a href="/admin/create/{{.tokenobj.Token}}">Add Admin</a>
                              </li>
                          </ul>
                          <!-- /.nav-second-level -->
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
      {{end}}
      {{ template "content" . }}
</div>
  </body>
</html>